<!DOCTYPE html>
<html>
<head>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Add your CSS and other head elements here -->
  <style>
    ul li a {
      color: white;
    }
    nav {
        background-color: green;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light"> <!-- Add the "bg-info" class for light blue background -->
      <a class="navbar-brand text-light fw-bolder text-uppercase " href="{{ url_for('dashboard') }}">agriwave</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('dashboard') }}" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('visualization') }}">Visualization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('predict') }}">Predict</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('realtime_database') }}">Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{ url_for('send')}}">Inputs-to-ESP32</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

    <!-- Add Bootstrap JavaScript (optional, but needed for some features) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>